ul{

list-style: inside src("");
color: red;
font: Verdana;
font-size: 12px;
}

a{
border-bottom: 1px dotted red;
}

a:hover{
color: green;
border-bottom: 1px solid green;
}

li:hover{
list-style-image: src("");
}
